<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.main-mapper">

	<!-- 이미지 가져오기 위해 MainInfo, Image 조인 -->
	<resultMap type="MainInfoVO" id="mainMap">
		<result column="rno" property="rNo"/>
		<result column="rname" property="rName"/>
		<result column="rtype" property="rType"/>
		<result column="rtel" property="rTel"/>
		<result column="rscore" property="rScore"/>
		<result column="rscorecount" property="rScoreCount"/>
		<result column="raddr1" property="rAddr1"/>
		<result column="raddr2" property="rAddr2"/>
		<result column="rpwd" property="rPwd"/>
		<result column="rarea" property="rArea"/>
		<result column="rareadetail" property="rAreaDetail"/>
		<result column="iname" property="ivo.iName"/>
		<result column="ilink" property="ivo.iLink"/>
	</resultMap>
	
	<select id="weeklyTop30" resultMap="mainMap">	
		<!-- SELECT rNO,rName,rScore,rAddr2,rTel
		FROM mainInfo
		WHERE ROWNUM&lt;=10
		ORDER BY rNO ASC -->
		
		<!-- SELECT rno,rname,rscore,raddr2,rtel,iname,ilink,rownum
		FROM (SELECT maininfo.rno,rname,rscore,raddr2,rtel,iname,ilink 
		FROM mainInfo,image
		WHERE mainInfo.rno=image.rno AND iname='Mainimage'
		ORDER BY mainInfo.rno ASC)
		WHERE rownum&lt;=10 -->
		
		SELECT rno,rname,rscore,raddr2,rtel,iname,ilink
		FROM (SELECT maininfo.rno,rscore,rgood,rhit,rname,raddr2,rtel,iname,ilink
		FROM maininfo,subinfo,image
		WHERE maininfo.rno=subinfo.rno AND maininfo.rno=image.rno AND iname='Mainimage'
		ORDER BY rGood DESC, rScore DESC, rHit DESC)
		WHERE rownum&lt;=10 <!-- ★★★★★★일단 test로 10개 - 나중에 바꿔야함!!!!★★★★★★ -->
		
	</select>
	
		<!-- RNO            NUMBER         
			RNAME          VARCHAR2(1000) 
			RTYPE          VARCHAR2(1000) 
			RTEL           VARCHAR2(1000) 
			RSCORE         NUMBER         
			RSCORECOUNT    NUMBER         
			RADDR1         VARCHAR2(1000) 
			RADDR2         VARCHAR2(1000) 
			RPWD           VARCHAR2(1000) 
			RAREA          VARCHAR2(1000) 
			RAREADETAIL    VARCHAR2(1000)  -->
	<!-- <select id="weeklyTop30img" resultType="ImageVO">
		SELECT no,link
		FROM image
		WHERE ROWNUM&lt;=10
		ORDER BY rNO ASC
	</select> -->
	
	<select id="realTimeTop3" resultMap="mainMap">
		SELECT rno,rname,rscore,raddr2,rtel,iname,ilink
		FROM (SELECT maininfo.rno,rscore,rgood,rhit,rname,raddr2,rtel,iname,ilink
		FROM maininfo,subinfo,image
		WHERE maininfo.rno=subinfo.rno AND maininfo.rno=image.rno AND iname='Mainimage'
		ORDER BY rhit DESC, rgood DESC, rscore DESC)
		WHERE rownum&lt;=3
	</select>
	
	
</mapper>