<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.member-mapper">

	<!--로그인 - ID/PWD 맞는지 확인 -->
	<select id="idCount" resultType="int" parameterType="string">
		SELECT COUNT(*) FROM member
		WHERE userid=#{id}
	</select>
	<select id="getPwd" resultType="MemberVO" parameterType="string">
		SELECT upwd,uname,utype FROM member
		WHERE userid=#{id} 
	</select>
	
</mapper>