<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.mypage-mapper">

	<select id="mypageRerveList" resultType="ReservationVO"
		parameterType="string">
		SELECT
		rno,userid,restotalprice,respeople,resdate,restime FROM reservation
		WHERE userid=#{userid}
		ORDER BY resno DESC
	</select>
	<select id="mypageCouponList" resultType="CouponVO"
		parameterType="string">
		SELECT * FROM coupon
		WHERE userid=#{userid}
		ORDER BY
		cenddate
	</select>
	<select id="mypageReviewList" resultType="ReviewVO"
		parameterType="string">

		SELECT * FROM review
		WHERE userid=#{userid}
		ORDER BY
		revdate DESC
	</select>

	<select id="mypageInfoupdateDetail" resultType="MemberVO"
		parameterType="String">
		SELECT * FROM member
		WHERE userid=#{userid}
	</select>

	<update id="mypageInfoupdate" parameterType="MemberVO">

		UPDATE member SET
		
	 	userid=#{userid},
		upwd=#{upwd},
		uname=#{uname},
		ugender=#{ugender},
		ubirth=#{ubirth},
		uemail=#{uemail},
		hint=#{hint},
		hintans=#{hintans},
		utel=#{utel},
		uphone=#{uphone},
		upost=#{upost},
		uaddr1=#{uaddr1},
		uaddr2=#{uaddr2},
		utype=#{utype}
		 
		WHERE userid=#{userid} 
	</update>
	
</mapper>