<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.retaurant-themalist-mapper">
<!-- t_MainThema= #{menuName} -->
	<resultMap type="com.sist.vo.NearbyVO" id="mainInforMap">
		<result column="rno" 			property="rNo"/>
		<result column="rname" 			property="rName"/>
		<result column="rtype" 			property="rType"/>
		<result column="rtel" 			property="rTel"/>
		<result column="rscore"		 	property="rScore"/>
		<result column="rscorecount" 	property="rScoreCount"/>
		<result column="raddr1" 		property="rAddr1"/>
		<result column="raddr2" 		property="rAddr2"/>
		<result column="rpwd" 			property="rPwd"/>
		<result column="rarea" 			property="rArea"/>
		<result column="rareadetail" 	property="rAreaDetail"/>
		<result column="rhit"           property="rHit"/> 
		<result column="rtakeout"       property="rTakeout"/> 
		<result column="rhighprice"     property="rHighprice"/> 
		<result column="iname" 			property="ivo.iName"/>
		<result column="ilink" 			property="ivo.iLink"/>
	</resultMap>
	


	<select id="cateSelectData" resultType="MainThemaVO" parameterType="java.util.Map">
		SELECT t_MainThema, t_DetailThema, t_Info 
		FROM mainThema
		WHERE REGEXP_LIKE(t_MainThema,#{fd})
	</select>	

<!-- 상황별     개수 알 기! -->
<select id="countBigThema" resultType="MainThemaVO">
	SELECT t_MainThema, COUNT(*) as themaCount
	FROM MainThema
	GROUP BY t_MainThema
</select>

<select id="resultThemaList" resultType="MainInfoVO" parameterType="java.util.Map">
	SELECT 
	FROM mainThema
	WHERE REGEXP_LIKE(t_DetailThema,#{fo})
</select>

<select id="searchThema" parameterType="java.util.Map" resultMap="mainInforMap" >
	 SELECT RNO, 
	 	    RNAME,
	 	    RTYPE,  
	 	    RTEL,
	 	    rScore,
	 	    rScoreCount,   
	 	    RADDR2,      
	 	    INAME,    
	 	    ILINK
	 FROM  (
	     SELECT MAI.RNO,
	            MAI.RNAME,
	            MAI.RTYPE,
	            MAI.RTEL,
	            NVL(mai.RSCORE,4.2) RSCORE,
	            MAI.rScoreCount,     
	            MAI.RADDR2,
	            IMG.INAME,
	            IMG.ILINK
	     FROM MAININFO MAI,
	          INFOTHEMA INFO,
	          DETAILTHEMA DETAIL,
	          IMAGE IMG
	        WHERE MAI.RNO=INFO.RNO 
	    	AND INFO.RTHEMA=DETAIL.T_INFO
	    	AND DETAIL.T_DETAILTHEMA= #{fd}
	    	AND MAI.RNO=IMG.RNO
			AND IMG.INAME='Mainimage'    	
	    	AND MAI.RNO <![CDATA[ <  ]]> 300
	        )
         GROUP BY RNO, RNAME, RTYPE,  RTEL, RSCORE, RScoreCount,     RADDR2,      INAME,    ILINK
         ORDER BY RNO ASC	
</select>

</mapper>