<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.search-mapper">
  <!-- Maininfo와 Image Join / ReserveInfo도 추가 -->
  <resultMap type="MainInfoVO" id="maininfoMap">
  	<result column="rno" property="rNo"/>
  	<result column="rname" property="rName"/>
  	<result column="rtype" property="rType"/>
  	<result column="rscore" property="rScore"/>
  	<result column="rscorecount" property="rScoreCount"/>
  	<result column="rarea" property="rArea"/>
  	<result column="raddr1" property="rAddr1"/>
  	<result column="rtel" property="rTel"/>
  	<result column="iname" property="ivo.iName"/>
  	<result column="ilink" property="ivo.iLink"/>
  	<result column="ropentime" property="rvo.rOpentime"/>
  	<result column="rclosetime" property="rvo.rClosetime"/>
  </resultMap>
  
  <select id="searchListData" resultMap="maininfoMap" parameterType="java.util.Map">
    SELECT rno,rname,rtype,rscore,rscorecount,rarea,raddr1,rtel,ilink,ropentime,rclosetime,num 
    FROM (SELECT rno,rname,rtype,rscore,rscorecount,rarea,raddr1,rtel,ilink,ropentime,rclosetime,rownum as num 
    FROM (SELECT maininfo.rno,rname,rtype,rscore,rscorecount,rarea,raddr1,rtel,ilink,ropentime,rclosetime 
    FROM maininfo,image,reserveinfo
    WHERE maininfo.rno=image.rno
    AND maininfo.rno=reserveinfo.rno
    AND rname LIKE '%'||#{cate}||'%'
    AND raddr1 LIKE '%'||#{area}||'%'
    AND image.iname LIKE 'Mainimage'
    ORDER BY maininfo.rno ASC))
    WHERE num BETWEEN #{start} AND #{end}
  </select>
  
  <select id="searchTotalPage" resultType="int" parameterType="hashmap">
  	SELECT CEIL(COUNT(*)/15.0) FROM maininfo,image,reserveinfo
  	WHERE maininfo.rno=image.rno
  	AND maininfo.rno=reserveinfo.rno
  	AND rname LIKE '%'||#{cate}||'%'
  	AND raddr1 LIKE '%'||#{area}||'%'
  	AND image.iname LIKE 'Mainimage'
  </select>
  
  <select id="searchTotalCount" resultType="int" parameterType="hashmap">
    SELECT COUNT(*) FROM maininfo,image
  	WHERE maininfo.rno=image.rno
  	AND rname LIKE '%'||#{cate}||'%'
  	AND raddr1 LIKE '%'||#{area}||'%'
  	AND image.iname LIKE 'Mainimage'
  </select>
  
  
  <!-- 자동완성 검색어: 가게이름 : row개수 10개 제한-->
  <select id="getResNameList" resultType="String" parameterType="String">
    SELECT rname,num 
    FROM (SELECT rname,rownum as num 
    FROM (SELECT rname 
    FROM maininfo WHERE rname LIKE '%'||#{resName}||'%'))
    WHERE num BETWEEN 1 AND 5
  </select>

  <select id="getResAreaList" resultType="String" parameterType="String">
    SELECT raddr1,num 
    FROM (SELECT raddr1,rownum as num 
    FROM (SELECT raddr1 
    FROM maininfo WHERE raddr1 LIKE '%'||#{resArea}||'%'))
    WHERE num BETWEEN 1 AND 5
  </select>
 	
  
  
</mapper>