<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.weekly-mapper">
	<resultMap type="MaininfoVO" id="maininfoMap">
  	<result column="rno" property="rNo"/>
  	<result column="rname" property="rName"/>
  	<result column="rtype" property="rType"/>
  	<result column="rscore" property="rScore"/>
  	<result column="rscorecount" property="rScoreCount"/>
  	<result column="rarea" property="rArea"/>
  	<result column="raddr1" property="rAddr1"/>
  	<result column="rtel" property="rTel"/>
  	<result column="iname" property="ivo.iName"/>
  	<result column="ilink" property="ivo.iLink"/>
  	<result column="ropentime" property="rvo.rOpentime"/>
  	<result column="rclosetime" property="rvo.rClosetime"/>
  </resultMap>
  
  <!-- <select id="weeklyListData" resultMap="maininfoMap" parameterType="hashmap">
    SELECT rno,rname,rtype,rscore,rscorecount,rarea,raddr1,rtel,ilink,ropentime,rclosetime,num 
    FROM (SELECT rno,rname,rtype,rscore,rscorecount,rarea,raddr1,rtel,ilink,ropentime,rclosetime,rownum as num 
    FROM (SELECT maininfo.rno,rname,rtype,rscore,rscorecount,rarea,raddr1,rtel,ilink,ropentime,rclosetime 
    FROM maininfo,image,reserveinfo,subinfo
    WHERE maininfo.rno=image.rno
    AND maininfo.rno=reserveinfo.rno
    AND maininfo.rno=subinfo.rno
    AND image.iname LIKE 'Mainimage'
    ORDER BY rGood DESC, rScore DESC, rHit DESC))
    WHERE num BETWEEN #{start} AND #{end}
  </select> -->
  
  <select id="weeklyListData" resultMap="maininfoMap" parameterType="hashmap">
    SELECT rno,rname,rtype,rscore,rscorecount,rarea,raddr1,rtel,ilink,ropentime,rclosetime,num 
    FROM (SELECT rno,rname,rtype,rscore,rscorecount,rarea,raddr1,rtel,ilink,ropentime,rclosetime,rownum as num 
    FROM (SELECT maininfo.rno,rname,rtype,rscore,rscorecount,rarea,raddr1,rtel,ilink,ropentime,rclosetime 
    FROM maininfo,image,reserveinfo,subinfo
    WHERE maininfo.rno=image.rno
    AND maininfo.rno=reserveinfo.rno
    AND maininfo.rno=subinfo.rno
    AND image.iname LIKE 'Mainimage'
    <if test="filter1 != null">
      AND rtype LIKE '%'||#{filter1}||'%'
    </if>
    <if test="filter3 != null and filter3.equals('open')">
      <![CDATA[
      AND rOpentime <= #{today}
      AND rClosetime > #{today}
      ]]>
    </if>
    <if test="filter4 != null">
      AND rDelivery LIKE #{filter4}
    </if>
    <choose>
      <when test="filter2 != null and filter2.equals('평점')">
        ORDER BY rScore DESC
      </when> 
      <when test="filter2 != null and filter2.equals('좋아요')">
        ORDER BY rGood DESC
      </when>
      <when test="filter2 != null and filter2.equals('조회수')">
      	ORDER BY rHit DESC
      </when>
      <when test="filter2 != null and filter2.equals('높은가격')">
      	ORDER BY rHighPrice DESC
      </when>
      <when test="filter2 != null and filter2.equals('낮은가격')">
      	ORDER BY rLowPrice ASC
      </when>
    </choose>
    ))
    WHERE num BETWEEN #{start} AND #{end}
  </select>
  
  <select id="weeklyTotalPage" resultType="int" parameterType="hashmap">
  	SELECT CEIL(COUNT(*)/15.0) 
  	FROM maininfo,image,reserveinfo,subinfo
  	WHERE maininfo.rno=image.rno
    AND maininfo.rno=reserveinfo.rno
    AND maininfo.rno=subinfo.rno
    AND image.iname LIKE 'Mainimage'
  	<if test="filter1 != null">
      AND rtype LIKE '%'||#{filter1}||'%'
    </if>
    <if test="filter3 != null and filter3.equals('open')">
      <![CDATA[
      AND rOpentime <= #{today}
      AND rClosetime > #{today}
      ]]>
    </if>
    <if test="filter4 != null">
      AND rDelivery LIKE #{filter4}
    </if>
  </select>
  
  <select id="weeklyFilterPage" resultType="int" parameterType="String">
  	SELECT CEIL(COUNT(*)/15.0) FROM maininfo
  	AND rtype LIKE '%'||#{filt}||'%'
  </select>
  
</mapper>