<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TeamProject</display-name>
  
  <!-- Servlet 등록 -->
  <servlet>
  	<servlet-name>foodle</servlet-name>
  	<servlet-class>com.sist.controller.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<!--경로 무조건 맞춰야합니다!!!! -->
  		<param-value>C:\Foodle\Foodle\TeamProject\WebContent\WEB-INF\app.xml</param-value>
  	</init-param>
  	<!-- Controller.jar 를 사용하기 위해 defaultPath 설정 -->
  	<init-param>
  		<param-name>defaultPath</param-name>
  		<!--경로 무조건 맞춰야합니다!!!! -->
  		<param-value>C:\Foodle\Foodle\TeamProject\src</param-value> <!-- defaultPath(src 폴더 위치) -->
  	</init-param>
  </servlet>
  
  <!-- Servelet Mapping -->
  <servlet-mapping>
  	<servlet-name>foodle</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>