@CHARSET "UTF-8";




/* Common  style  */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0;
	/*width: 100%;*/
	/*background: #3085a3;*/
	text-align: center;
	cursor: pointer;
}

.grid figure img #smallthemaimg {
	position: relative;
	opacity: 0.8;
}
figure {
	
	display: inline;
	
}

.grid figure figcaption {
	padding: 0.3em;
	color: #fff;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.smallcatelist figcaption{
	
	padding:2px;
	
}



@media (max-width: 1200px) {
	
	.grid figure figcaption {
		padding: 0em;
	}

}

.grid figure figcaption h5 {
	font-weight: 400;
	text-align: left;
}

/* 992 */
@media (max-width: 1200px) {
	.grid figure figcaption h5 {
		font-size: 22px;
	}
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	bottom: 0;
	left: 0;
}



/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}



.grid figure h5,
.grid figure p {
	margin: 20px;
}

.grid figure p {
	letter-spacing: 1px;
	font-weight: 300;
	text-align: center;
	margin: 6px 0 0;
}

/* Individual effects */

/*---------------*/
/***** Ruby *****/
/*---------------*/

figure.effect-ruby {
	background-color: #000;
}

.smallcatelist figure.effect-ruby {
	background-color: white;
}

figure.effect-ruby img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}

figure.effect-ruby:hover img {
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.col-md-12{
	
	padding-right: 0px;

}


.themafont span:hover {
	
	color:black;
	font-weight:600px;
	border: 1px #ff3a6d;

 }

.themafont{
	
	padding-left: 20px;
	color: #8c8e90;
	
}

	figure.effect-ruby:hover h2 {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

figure.effect-ruby:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}


body {

  font-size: 18px;
}



.plusicon {
	
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: .2em .8em;
	background: url(../images/plusicon.png) no-repeat 95% 50%;
	margin-left: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
}

option {
	
	border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 18px rgba(0,0,0,.15);
	border-color: #eeeeef;
	padding-bottom: 16px!important;
	padding-top: 16px!important;
	padding-right: 16px!important;
	padding-left: 16px!important;
	display: block;
	
}

.lemonmenu{

	border-color: #eeeeef;
	padding-bottom: 8px!important;
	padding-top: 8px!important;
	padding-right: 8px!important;
	padding-left: 8px!important;
	display: block;
	cursor: pointer;
	text-align: left;
}
}

select::-ms-expand {
  /* for IE 11 */
  display: none;
}

.list-block h5 {
    color: black;
    display: inline-block;
    margin: 0;
    font-size: 30px;
    letter-spacing: 2px;
}


div .nearbysearchlist{
	
	padding-left: 1rem!important;
    padding-right: 1rem!important;
    
}

.bysituation{
	
	color:white;
}

.nearbysearchlist p5{

	color: #96999cfa;
	
}	

.nearbysearchlist h6{

	font-weight: 600;
}	

  /* width: auto; */
.featured-place-wrap img {
  
}

.featured-title-box {
    padding: 22px 20px;
    width: 320px;
}

div .themarow{
	
	display: inline-block;
	margin-left: 15px;
    margin-right: 10px;
}


