@CHARSET "UTF-8";
/*

  border-top-left-radius: 3.5em;
  border-top-right-radius: 3.5em;
  border-bottom-left-radius: 3.5em;
  border-bottom-right-radius: 3.5em;
  
  */
  
html { 
  background: url()
}
/*   background: url(../images/arrow.jpg) no-repeat 95% 50%;  */
table {
  background-image: url(../images/);
  border-top-left-radius: 3.5em;
  border-top-right-radius: 3.5em;
  border-bottom-left-radius: 3.5em;
  border-bottom-right-radius: 3.5em;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:hover {
  background: #06D85F;
}