@charset "utf-8";

.login-block{
  height: calc(100vh - 72px - 236px);
}
/* Header높이: 72px, footer 높이: 236px */

/*  */
.logo_parent{text-align: center; padding-top: 50px;}
img.logo{width: 70%; margin: 0 auto;}

.login ul, .member_category, .member_category li{
    list-style-type: none;
    padding-left: 0;
}


/* list 스타일 */
.input_division li {
    float: left;
    width: 100%;
    min-height: 46px;
    padding: 8px 15px;
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    margin: 10px 0;
}

/* MacBook Air에서 로그인 창이 높이때문에 짤리는 현상 수 - 2020.03.26(목) */
@media only screen and (max-width: 1440px) {
  .input_division li {
    border-bottom: 0;
    margin: 0;
	}
	.input_division li:last-child{
	border-bottom: 1px solid #CCCCCC;
	}
	.logo_parent{padding-top: 0;}
	.login-bottom hr{display: none;}
}


/* .cont_division li:last-child{
    border-bottom: 1px solid #CCCCCC;
} */

/* input 스타일 */
.login.input li input{
    width: 100%;
    height: 35px;
    line-height: 35px;
    margin: 1px 0 0 0;
    border: none;
    /* background-color: #fff; */
    float: left;
    padding-left: 20px;
    vertical-align: middle;
}


/* 하단 버튼 */
.login-btn-wrap {text-align: center; }
.login-btn-wrap .btn-danger {
    width:100%;
    background: #ff3a6d;
     padding: 16px 50px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: 0; 
}
.login-btn-wrap .btn-danger:hover {
    background: #f34e79;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; 
}
.login-btn-wrap a{font-size: 1.2rem;}
  
/* 하단 안내문구 - 이미 계정 있는지 */
/* .login-bottom .message {
    margin: 10px 0;
    color: #212529;
    font-size: 14px;
} */
/* .login-bottom .message a {
    color: #ff3a6d;
    text-decoration: none;
} */

.login-bottom .bt_msg{
  text-align: center;
}

.login-bottom .bt_msg a{
    margin: 10px 0;
    color: #7f8183;
    font-size: 14px;
    text-decoration: none;
}
span.bar{color: #ccc; margin: 0 5px;}
