@CHARSET "UTF-8";





.areaNrow {
   margin: 0 -15px;
}


.text {
   width: 100%;
   text-align: center;
   margin-top: 20px;
   height: 70px;
}

.areaNarea {
   width: 100%;
   float: left;
   margin-top: 15px;
}

.areaNarea .input,
.areaNarea .input label {
   width: 100%;
   float: left;
   position: relative;
}

.areaNarea .input {
   overflow: hidden;
   border-radius: 2px;
   color: #fff;
  background-color: #26a69a;
   box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
   transition: 300ms;
   -webkit-transition: 300ms;
   -ms-transition: 300ms;
}

.areaNarea .input areaNinput {
   display: none;
}

.areaNarea .input label {
   font-weight: 400;
   color: #fff;
   text-align: center;
   text-transform:uppercase;
   cursor: pointer;
   font-size: 14px;
   z-index: 3;
   transition: 300ms;
   -webkit-transition: 300ms;
   -ms-transition: 300ms;
   height: 45px;
   line-height: 45px;
}

.areaNarea .input:hover{
   box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}
.areaNarea .input label:hover {
   letter-spacing: .8px;
   
}

.click-efect {
   position: absolute;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.2);
   border-radius: 50%;
}

.areaNcontainer {
   width: 100%;
   max-width: 800px;
    position: absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);         
   -webkit-transform:translate(-50%,-50%);
   -ms-transform:translate(-50%,-50%);

}

.areaNcol-3 {
   width: 25%;
   float: left;
   padding: 0 15px;
}
